<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Listar Usuários</title>

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="css/sb-admin-2.css" rel="stylesheet">
<style>
	span, a, #inst, #and, #fin, #todos {
		/*font-size: 150%;*/
		font-weight: bold;
	}
	
	#numero, #span, p {
		font-size: 150%;
		color: black;
		font-weight: bold;
	}
	
	#h3 {
	    font-size: 200%;
		color: black;
	}
</style>
</head>
<body id="page-top">

	<nav th:replace="fragmentos/fragmentos :: cabecalho"></nav>
	<div id="wrapper">
		<ul th:replace="fragmentos/fragmentos :: sidebar_admin"></ul>
		<div id="content-wrapper" class="d-flex flex-column">
			<br>
			<br>

			<div class="content container">
					<h3>Listagem de Usuários</h3>
					<br> <a href="/adicionar_usuario" class="btn btn-primary mb-3">Inserir</a>
					<div th:each="usuario: ${usuario}" style="margin: 10px">
						<div class="card bg-primary-claro mb-3">
							<div class="card-body bg-primary-claro">
								<p class="card-text" th:text="${'Nome: ' + usuario.nome}"></p>
								<p class="card-text" th:text="${'Matrícula: ' + usuario.matricula}"></p>
								<p class="card-text" th:text="${'Email: ' + usuario.email}"></p>
						</div>
							<div class="card-footer bg-gray-200">
								<p>
									<a th:href="@{/alterar_dados_usuario/{id}(id=${usuario.matricula})}">Alterar dados</a>
									| <a th:href="@{/excluir_usuario/{id}(id=${usuario.matricula})}" onclick="return confirm('Tem certeza de que deseja excluir este usuário?\nEsta ação não poderá ser desfeita.')">Excluir</a>
								</p>
							</div>
						</div>
					</div>	
			</div>
		</div>
		<footer th:replace="fragmentos/fragmentos :: footer"></footer>
	</div>
	
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/sb-admin-2.js"></script>

</body>
</html>
