<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Listar Todos os Processos</title>

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="css/sb-admin-2.css" rel="stylesheet">

<style>
	span, a, #inst, #and, #fin, #todos {
		font-size: 150%;
		font-weight: bold;
	}
	
	#numero, #span {
		font-size: 150%;
		color: black;
		font-weight: bold;
	}
	
	#h3 {
	    font-size: 200%;
		color: black;
	}
</style>

</head>
<body id="page-top">

	<nav th:replace="fragmentos/fragmentos :: cabecalho"></nav>
	<div id="wrapper">
		<ul th:replace="fragmentos/fragmentos :: sidebar_admin"></ul>
		<div id="content-wrapper" class="d-flex flex-column">
		
			<br><br>
			
			<div class="content container" id="todosOsProcessos">
				
				<span id="h3" style="margin: 10px">Listagem de Todos os Processos</span><br><br><br>
				
				<button id="and" class="btn btn-primary-claro" style="margin: 10px" onclick="atosIniciais()" th:fragment="atosIniciais">Nos atos iniciais</button>
				<button id="inst" class="btn btn-success" style="margin: 10px" onclick="emInstrucao()" th:fragment="instrucao">Em instrução</button>
				<button id="fin" class="btn btn-secondary" style="margin: 10px" onclick="finalizados()" th:fragment="finalizado">Finalizados</button><br><br><br>
       
				<div th:each="processo: ${processo}" style="margin: 10px" th:if="${processo.andamento} == 'Atos iniciais'">
					<div class="card bg-primary-claro mb-3">
						<div id="numero" class="card-header bg-gray-200" th:text="${'Processo nº ' + processo.numeroProcesso}"></div>
						<div class="card-body" th:fragment="texto">
							<span id="span" th:text="${'Interessado: ' + processo.interessado}"></span><br>
							<span id="span" th:text="${'Presidente: ' + processo.presidente.nome}"></span><br>
							<span id="span" th:text="${'Data do início do processo: ' + #dates.format(processo.dataInicioProcesso, 'dd/MM/yyyy')}"></span><br>
							<span id="span" th:text="${'Duração do processo: ' + processo.diasCorridos + ' dias'}"></span>
						</div>
						<div class="card-footer bg-gray-200" th:fragment="rodape">
							<p>
								<a th:href="@{/detalhar_processo_1/{id}(id=${processo.id})}">Detalhes</a>
								| <a th:href="@{/alterar_processo_1/{id}(id=${processo.id})}">Alterar</a>
								| <a th:href="@{/excluir_processo/{id}(id=${processo.id})}" onclick="return confirm('Tem certeza de que deseja arquivar este processo?')">Arquivar</a>
								<!-- | <a th:href="@{/excluir_processo/{id}(id=${processo.numeroProcesso})}" data-href="/excluir_processo/{id}(id=${processo.numeroProcesso})" data-toggle="modal" data-target="#logoutModal">Apagar</a> -->
							</p>
						</div>
					</div><br>
				</div>
				
				<div th:each="processo: ${processo}" style="margin: 10px" th:if="${processo.andamento} == 'Em instrucao'">
					<div class="card bg-success mb-3">
						<div id="numero" class="card-header bg-gray-200" th:text="${'Processo nº ' + processo.numeroProcesso}"></div>
						<div th:replace="::texto"></div>
						<div th:replace="::rodape"></div>
					</div><br>
				</div>
				
				<div th:each="processo: ${processo}" style="margin: 10px" th:if="${processo.andamento} == 'Finalizado'">
					<div class="card bg-secondary mb-3">
						<div id="numero" class="card-header bg-gray-200" th:text="${'Processo nº ' + processo.numeroProcesso}"></div>
						<div th:replace="::texto"></div>
						<div th:replace="::rodape"></div>
					</div><br>
				</div>
			</div>
			
			<div class="content container" id="processosAtosIniciais">
				<span id="h3" style="margin: 10px">Listagem de Processos em Atos Iniciais</span><br><br><br>
				
				<button th:replace="::todos"></button>
				<button th:replace="::instrucao"></button>
				<button th:replace="::finalizado"></button><br><br><br>
				
				<div th:each="processo: ${processo}" style="margin: 10px" th:if="${processo.andamento} == 'Atos iniciais'">
					<div class="card bg-primary-claro mb-3">
						<div id="numero" class="card-header bg-gray-200" th:text="${'Processo nº ' + processo.numeroProcesso}"></div>
						<div th:replace="::texto"></div>
						<div th:replace="::rodape"></div>
					</div><br>
				</div>
			</div>
			
			<div class="content container" id="processosEmInstrucao">
				<span id="h3" style="margin: 10px">Listagem de Processos Em Instrução</span><br><br><br>
				
				<button id="todos" class="btn btn-light"  style="margin: 10px" onclick="todosOsProcessos()" th:fragment="todos">Todos os processos</button>
				<button th:replace="::atosIniciais"></button>
				<button th:replace="::finalizado"></button><br><br><br>
				
				<div th:each="processo: ${processo}" style="margin: 10px" th:if="${processo.andamento} == 'Em instrucao'">
					<div class="card bg-success mb-3">
						<div id="numero" class="card-header bg-gray-200" th:text="${'Processo nº ' + processo.numeroProcesso}"></div>
						<div th:replace="::texto"></div>
						<div th:replace="::rodape"></div>
					</div><br>
				</div>
			</div>
			
			<div class="content container" id="processosFinalizados">
				<span id="h3" style="margin: 10px">Listagem de Processos Finalizados</span><br><br><br>
				
				<button th:replace="::todos"></button>
				<button th:replace="::atosIniciais"></button>
				<button th:replace="::instrucao"></button><br><br><br>

				<div th:each="processo: ${processo}" style="margin: 10px" th:if="${processo.andamento} == 'Finalizado'">
					<div class="card bg-secondary mb-3">
						<div id="numero" class="card-header bg-gray-200" th:text="${'Processo nº ' + processo.numeroProcesso}"></div>
						<div th:replace="::texto"></div>
						<div th:replace="::rodape"></div>
					</div><br>
				</div>
			</div><br><br>
		
		</div>
		<footer th:replace="fragmentos/fragmentos :: footer"></footer>
	</div>
	
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/sb-admin-2.js"></script>
	
	<script>
	
		function todosOsProcessos(){
			 document.getElementById('todosOsProcessos').style.display = 'block';
			 document.getElementById('processosEmInstrucao').style.display = 'none';
	         document.getElementById('processosAtosIniciais').style.display = 'none';
	         document.getElementById('processosFinalizados').style.display = 'none';
		}
		
		function emInstrucao(){
			 document.getElementById('todosOsProcessos').style.display = 'none';
			 document.getElementById('processosEmInstrucao').style.display = 'block';
	         document.getElementById('processosAtosIniciais').style.display = 'none';
	         document.getElementById('processosFinalizados').style.display = 'none';
		}
		
		function atosIniciais(){
			 document.getElementById('todosOsProcessos').style.display = 'none';
			 document.getElementById('processosEmInstrucao').style.display = 'none';
	         document.getElementById('processosAtosIniciais').style.display = 'block';
	         document.getElementById('processosFinalizados').style.display = 'none';
		}
		
		function finalizados(){
			 document.getElementById('todosOsProcessos').style.display = 'none';
			 document.getElementById('processosEmInstrucao').style.display = 'none';
	         document.getElementById('processosAtosIniciais').style.display = 'none';
	         document.getElementById('processosFinalizados').style.display = 'block';
		}
	</script>
</body>
</html>
